// For any animation
@mixin keyframes($name) {
	@-webkit-keyframes #{$name} {
		@content;
	}
	@-moz-keyframes #{$name} {
		@content;
	}
	@-ms-keyframes #{$name} {
		@content;
	}
	@keyframes #{$name} {
		@content;
	}
}

// @include horizontal-gradient(white, transparent);
@mixin horizontal-gradient($from, $to, $stop: 100%) {
	/* fallback/image non-cover color */
	background-color: $from;
	/* Firefox 3.6+ */
	background-image: -moz-linear-gradient(76deg, $from 0%, $to $stop);
	/* Safari 5.1+, Chrome 10+ */
	background-image: -webkit-linear-gradient(76deg, $from 0%, $to $stop);
	/* Opera 11.10+ */
	background-image: -o-linear-gradient(76deg, $from 0%, $to $stop);
	/* IE10+ */
	background: -ms-linear-gradient(76deg, $from 0%, $to $stop);
	/* Standard */
	background: linear-gradient(76deg, $from 0%, $to $stop);
	/* IE6-9 */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from', endColorstr='$to',GradientType=1 );
}

@mixin object-fit($fit: fill, $position: null) {
	-o-object-fit: $fit;
	object-fit: $fit;
	@if $position {
		-o-object-position: $position;
		object-position: $position;
		font-family: 'object-fit: #{$fit}; object-position: #{$position}';
	} @else {
		font-family: 'object-fit: #{$fit}';
	}
}