header {

	.header {
		
		&-wrap {

			&_top {
				justify-content: flex-end;
				padding: 20px 0;
				z-index: 1;
				
				& > * {
					float: right;
				}

				.wp-block-list {
					list-style: none;
				}
			}

			&_nav {
				padding: 0 0 20px 0;

				@include resp-max('s') {
					position: absolute;
					padding: 0;
					width: 50%;
					left: 20px;
					top: 20px;
				}
					

				.wp-block-site-logo {
					padding-right: 15px;

					@include resp-max('s') {
						padding-right: 0;
					}

					img {
						width: 74px !important;

						@include resp-max('s') {
							width: 100px;
						}
					}
				}

				nav {
					width: 100%;
				}
				
				.wp-block-navigation__container {
					justify-content: flex-end;
					margin-top: 5px;
					width: 100%;

					.wp-block-navigation-item {

						&:nth-child(1),
						&:nth-child(2),
						&:nth-child(3),
						&:nth-child(4) {
							flex: auto;

							@include resp-max('xl') {
								flex: unset;
							}

							a, span {
								font-family: $body-font-extrabold !important;
								text-transform: uppercase;
								font-weight: $bold;								
							}						
						}

						&:nth-child(4) {
							margin-right: 380px;

							@include resp-max('xl') {
								margin-right: 30px;
							}
						}
					}
				}
			}
		}
	}
}

.wp-block-navigation__responsive-container {

	@include resp-max('s') {
		padding: 20px !important;
	}
}