.hero {	
	display: inline-block;
	width: 100%;

	&-wrap {
		background-position: right center !important;
		background-repeat: no-repeat;
		background-size: 100% 100%;
		max-height: fit-content;
		padding: 78px 64px;
		align-self: center;
		text-align: left;
		display: block;
		height: 300px;
		width: 100%;
		z-index: 1;

		& > * {
			position: relative;
			z-index: 1;
		}

		h1 {
			text-shadow: 0 4px 24px rgba(black,0.45);
			max-width: 556px;
			margin-bottom: 0;
			color: $white;
		}

		&_desc {
			margin-top: 50px;

			p {
				max-width: 670px;
			}

			.btn {
				margin-top: 30px;
			}
		}
	}
}