body {

	header {

		nav {

			&.header-nav {
				// Mobile Menu
				background-color: rgba($orange,0.97);
				height: fit-content;
    			position: absolute;
				width: 100%;
				right: 40px;
				top: -45px;				

				@include media-breakpoint-up(xl) {
					right: calc(0px - $container-margin-left);
					position: absolute;
				}

				.navbar-toggler-btn { // Mob Menu btn open
					position: absolute;
					cursor: pointer;
					z-index: 999;
					height: 40px;
					width: 40px;
					right: 15px;			
					top: 45px;

					@include media-breakpoint-up(xl) {
						right: $container-margin-left;						
						display: none;
						top: 31px;
					}

					em {
						transition: .5s ease-in-out;
						transform: rotate(0deg);			
						background: $white;
						position: absolute;
						border-radius: 2px;
						display: block;
						width: 100%;
						height: 4px;
						opacity: 1;
						right: 0;
		
						&:nth-child(1) {
							transform-origin: left center;
							top: 0;						
						}
		
						&:nth-child(2) {
							transform-origin: left center;
							top: 11px;
						}
		
						&:nth-child(3) {
							transform-origin: left center;
							top: 22px;
						}
					}
				}

				.tfa-header-menu-container {
					position: relative;
					display: none;
					opacity: 0;
					right: 0;
					top: 0;

					.navbar-nav {
						display: inline-block;
						width: 100%;

						li {
							position: relative;
							margin: 5px 0;
							padding: 0;
							
							&::before {
								content: unset;
							}

							&:not(.menu-item-has-children) {

								& > .item-sub,
								& > em {
									display: none !important;
								}
							}
						}

						& > .menu-item {
							border-bottom: rgba($grey,0.4) solid 1px;
							position: relative;
							display: block;				
							opacity: 1;

							.item-sub {
								cursor: pointer;
								position: absolute;
								height: 35px;
								width: 30px;
								opacity: 0;
								z-index: 1;
								right: 0;
								top: 0;
							}

							a {
								font-size: calc( $body + 3px);
								color: $white;
								font-weight: $font-weight-medium;

								img {
									display: none;
								}
							}

							&-has-children {
								position: relative;
								padding-right: 0;

								ul.dropdown-menu {
									border-left: rgba($grey,0.4) solid 1px;
									position: relative;
									display: none;

									&.depth {
										
										&_0 {
											padding-left: 15px;

											a {
												font-size: calc( $body - 1px);
												font-weight: $font-weight-normal;
											}
										}

										&_1 {
											padding-left: 15px;

											a {
												font-size: calc( $body - 2px);
												font-weight: $font-weight-normal;
												opacity: 0.95;
											}
										}

										&_2 {
											padding-left: 15px;

											a {
												font-size: calc( $body - 3px);
												font-weight: $font-weight-light;
												opacity: 0.85;
											}

											em {
												display: none;
											}
										}
									}
								}

								em {
									padding: 5px 10px;
									position: absolute;
									cursor: pointer;
									height: 30px;
									width: 30px;
									right: 0;
									z-index: 0;
									top: 0;

									&::after {
										content: "";
										background: transparent url('../../assets/img/svg/arr-r-nav-white.svg') center / auto 100% no-repeat;
										transform: translateY(-50%) rotate(90deg);
										transition: all .3s ease;
										position: relative;
										display: block;
										height: 12px;
										width: 12px;
										right: 0;
										top: 8px;
									}
								}
							}
						}

						.menu-item-current {

							& > a {
								position: relative;
								
								&::after {
									content:'';
									border-bottom: $white solid 2px;
									position: absolute;
									bottom: -2px;
									width: 15px;
									height: 0;
									left: 0;
								}
							}
						}

						.item-sub {
		
							&:checked ~ {

								ul.dropdown-menu {
									display: block;
								}

								.item-sub,
								em {
									transform: rotate(180deg);
									margin-right: -1px;
									opacity: 0.7;
								}
							}
						}
					}
				}

				&.lastnavbtn {

					.tfa-header-menu-container {

						& > .navbar-nav {

							& > li:last-child {
								border: 0;
							
								a {
									@include btn-primary-nav;

									&::after {
										display: none;
									}
								}
							}
						}
					}
				}

				// Mega Menu (Desktop only) styling
				&.megamenu {
					position: fixed;
					top: 90px;
					right: 0;

					.navbar-toggler-btn {
						position: fixed;
						right: 25px;
						top: 32px;
					}

					@include media-breakpoint-up(xl) {
						margin-bottom: 15px;
						position: relative;
						top: unset;
    					right: 0;

						.navbar-toggler-btn {
							display: none !important;
						}

						.item-sub {
		
							&:checked ~ {

								ul.dropdown-menu {
									display: none;
								}

								em {
									transform: rotate(0deg);
								}
							}
						}

						.tfa-header-menu-container {
							display: flex !important;
							position: absolute;
							list-style: none;
							left: inherit;
							opacity: 1;
							top: -10px;

							input,							
							img {
								display: none;
							}

							& > ul {
								display: inline-flex;
    							height: fit-content;
								margin-bottom: 0;

								.mega-wrap img {
									display: none;
								}

								& > .menu-item {									
									position: relative;
									padding-right: 15px;
									margin-left: 15px;
									border: 0;

									em {
										position: absolute;
									}

									&-has-children {
										padding-right: 30px;

										& > ul.dropdown-menu {
											animation: fade-in-up-mega 0.25s linear both;
											box-shadow: 0 6px 15px #0000000f;
											border-radius: 0 0 7px 7px;
											background-color: $orange;
											height: fit-content;
											position: absolute;
											width: fit-content;											
											min-width: 120px;
											display: none;
										}

										& > ul {

											li {

												a {

													img {
														display: none;
													}
												}
											}
										}
									}

									&:hover {

										em {
											transform: rotate(180deg);
											margin-right: -1px;
											margin-top: -3px;
											opacity: 0.7;
										}
										
										& > ul.dropdown-menu {
											display: block;
											padding: 20px;
											border: 0;

											em {
												display: none;
											}
										}

										&.menu-item-has-children {

											&.mega-img {
				
												img {
													animation: fade-in-up-mega 0.25s linear both;
													position: absolute;
													padding-top: 20px;
													display: block;
													height: 150px;
													left: -150px;
													width: 150px;
													z-index: 1;																						
												}

												& > ul.dropdown-menu {
													padding: 15px 20px 20px 200px !important;
													width: calc(170px + 270px) !important;
													margin-left: -170px;
													min-height: 175px;

													li {
														margin-top: 0;
													}
													
													ul {
														min-height: fit-content;
														overflow-x: hidden;
														overflow-y: auto;
														display: block;													
													}

													input + em {
														display: none;
													}
												}
											}
										}
									}
								}
							}
						}
					}

					@include media-breakpoint-down(xl) {

						.navbar-toggler-btn {
							display: flex !important;
						}
					}
				}

				// Mobile Always
				&:not(.megamenu) {
					width: fit-content;
					padding-top: 90px;
					position: fixed;
					right: 0;
					top: 0;

					.navbar-toggler-btn {
						display: block;

						@include media-breakpoint-up(xl) {
							opacity: 1 !important;
						}
					}
				}
			}
		}
	}

	&.menu-open {
		max-height: 100vh;
		overflow-y: hidden;

		header {

			.navbar-toggler-btn { // Mob Menu btn close
				top: 31px;

				em {
					background: $white;

					&:nth-child(1) {
						transform: rotate(45deg);
						top: -1px;
						left: 8px;
					}

					&:nth-child(2) {
						width: 0;
						opacity: 0;
					}

					&:nth-child(3) {
						transform: rotate(-45deg);
						top: 28px !important;
						left: 8px;
					}
				}	
			}

			.header-nav-overlay {
				display: none;
			}

			.tfa-header-menu-container {
				animation: slide-in-right 1s both;
				display: block !important;
				padding-top: 0;

				@include media-breakpoint-down(xl) {
					padding-top: 40px;
					height: 100vh;
				}
			}

			.header-nav:not(.megamenu) {
				animation: grow-line 1.5s forwards;

				@include media-breakpoint-up(xl) {
					max-width: calc( $container-margin-left + 64px );
					min-width: 320px;
					padding: 120px 15px;
					height: 100vh;
					z-index: 2;
				}

				.tfa-header-menu-container {
					padding-left: 0;
					overflow-y: auto;
					padding-top: 40px;
	
					@include media-breakpoint-up(xl) {
						padding-left: 20px;
						padding-top: 0;
					}
				}

				&.lastnavbtn .tfa-header-menu-container > .navbar-nav > li:last-child a {
					max-width: fit-content;
					margin-top: 40px;
					margin-left: 0;

					@include media-breakpoint-down(sm) {
						max-width: 100%;
					}
				}
				
				& + .header-nav-overlay {

					@include media-breakpoint-up(xl) {
						animation: fade-in 0.7s linear both;
						background-color: rgba($black,0.7);					
						display: block !important;
						width: calc(100vw - $container-margin-left - 64px);
						height: calc(100vh - 90px);
						position: fixed;
						top: 95px;
						left: 0;
					}
				}
			}
		}
	}

	.tfa-footer-menu {

		&-container {

			li.menu-item {
				text-align: left;

				&::before {
					content: unset;
				}

				input {
					position: absolute;
					width: fit-content;
					height: 100%;
					opacity: 0;
					right: 0;
				}
			}
		}
	}
}