:root {
	//--bg-kviesi: url('/assets/img/svg/btn.svg');
}

.section {

	&__partners {
		padding: 0 !important;
		position: relative;
		overflow: hidden;
		width: 100%;	

		&.swiper-slider {

			.swiper-wrapper {
				margin-block-start: 15px !important;
				margin-block-end: 15px !important;
				flex-wrap: nowrap !important;
				margin: 0 auto !important;				
				--bs-gutter-x: 0;
				gap: 0;

				.swiper-slide {
					text-align: center;
					width: 20%;

					img {
						width: auto;
						margin: 0 5%;
					}
				}
			}
		}
	}
}