@keyframes fade-in {
		to {
			opacity: 1;
		}
	}
	
	.animate {
		visibility: hidden;
	
		&-animated {
			animation-duration: 0.5s;
			animation-fill-mode: forwards;
			visibility: visible;
		}
	
		&--fade-in {
			opacity: 0;
	
			&.animate-animated {
				animation-name: fade-in;
			}
		}
	
		&-delay- {
			@for $i from 1 through 20 {
				&#{$i} {
					animation-delay: 0.1s * $i;
				}
			}
		}
	}

// For any animation
@mixin keyframes($name) {
	@-webkit-keyframes #{$name} {
			@content;
	}
	@-moz-keyframes #{$name} {
			@content;
	}
	@-ms-keyframes #{$name} {
			@content;
	}
	@keyframes #{$name} {
			@content;
	}
}

.animated {
	animation-duration: 1s;
	animation-fill-mode: both;
}
	
.infinite {
	animation-iteration-count: infinite;
}

.delay-025 { animation-delay: 0.25s; }
.delay-050 { animation-delay: 0.50s; }
.delay-115 { animation-delay: 1.15s; }

/*  
	Slide In Left - animation: slide-in-left 0.4s both;
*/

@include keyframes(slide-in-left) {

	0% {
		transform: translateX(-1000px);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

/*  
	Slide In Right - animation: slide-in-right 0.4s both;
*/

@include keyframes(slide-in-right) {

	0% {
		transform: translateX(1000px);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}