body {
    background-color: $bg-color;

    &.page {

		&.home {
            //only home
		}
	}

    &.terms-conditions,
	&.privacy-policy {

		h2,
		h3 {
			text-transform: uppercase;
		}

		.wpb_text_column ul {
			list-style: disc;
		
			li {
				position: relative;
				padding-left: 0;
				margin-bottom: 15px;
				font-family: $body-font;
				font-size: 18px;
				line-height: 26px;

				&::before {
					content: unset;
				}
			}
		}
	}

	&.error404 {

		main {

			p,
			span {
				color: $black;
			}

			h1 {
				font-weight: $black;
			}

			.wp-block-search {
				
				&__inside-wrapper {
					border-width: 0 0 1px 0;
				}

				&__button {
					background-color: transparent;
					border: 0;

					svg {

						path {
							fill: $white;
						}
					}
				}
			}

			.btn {
				margin-top: 40px;
				padding: 15px 40px;
			}
		}
	}

	&.search {

		main {

			h2,
			div,
			p {
				color: $black;
			}

			h1,
			h2 {
				font-weight: bold;
			}

			.wp-block-query {

				ul {

					li {
						padding-left: 0;

						&:last-child {

							hr {
								display: none;
							}
						}
					}
				}
			}
		}
	}
}