.flexbox,
.flexbox-full {
	display: flex;
	flex-wrap: wrap;

	&.nowrap {
		flex-wrap: nowrap;
	}

	&.v-c {
		align-items: center;
	}

	&.v-e {
		align-items: flex-end;
	}

	&.h-c {
		justify-content: center;
	}

	&.h-sb {
		justify-content: space-between;
	}

	&.h-e {
		justify-content: flex-end;
	}
}

.flexbox {
	margin: 0 -15px;

	&>.col {
		padding: 0 15px;
	}

	&--grid {
		margin: -15px;
		& > .col {
			padding: 15px;
		}
	}
}

.flexbox-full {
	margin: 0;

	& > .col {
		padding: 0;
	}
}

.col {

	&.m-left {
		margin-left: auto;
	}

	&.m-right {
		margin-right: auto;
	}

	&.m-auto {
		margin: 0 auto;
	}

	@include sizes;

	@include resp-max('l') {
		&-l {
			@include sizes;
		}
	}

	@include resp-max('m') {
		&-m {
			@include sizes;
		}
	}

	@include resp-max('s') {
		&-s {
			@include sizes;
		}
	}
}

.item {
	height: 100px;
	background-color: red;
}