:root :where(.is-layout-flow) > *,
:root :where(.is-layout-constrained) > * {
    margin-block-start: 0;
}

.container {
    max-width: unset;
    margin: 0 auto;
    width: 100%;
    
    &-boxed {
        max-width: $container-width;
        margin: 0 auto;

        @include resp-max('l') {
			max-width: calc(100vw - 80px);
		}

		@include resp-max('s') {
			max-width: calc(100vw - 40px);
		}
    }

	p:empty {
		margin: 0;
	}

	svg {
		width: fit-content;
		height: auto;
	}
}

.d-none,
.hidden {
	display: none !important;
}

.float-left {
	float: left !important;
}