// Responsive mixin
@function brakpoint2var($size) {
	$resp-size: 0;

	@if ($size=='xs') {
		$resp-size: $resp-xs;
	}

	@else if ($size=='s') {
		$resp-size: $resp-s;
	}

	@else if ($size=='m') {
		$resp-size: $resp-m;
	}

	@else if ($size=='l') {
		$resp-size: $resp-l;
	}

	@else if ($size=='xl') {
		$resp-size: $resp-xl;
	}

	@else {
		$resp-size: $size;
	}

	@return $resp-size;
}

@mixin resp-max($size) {
	$var: brakpoint2var($size);

	@media (max-width: #{$var}px) {
		@content;
	}
}

@mixin resp-min($size) {
	$var: brakpoint2var($size);

	@media (min-width: #{$var + 1}px) {
		@content;
	}
}

@mixin resp-range($size-min, $size-max) {
	$var-min: brakpoint2var($size-min);
	$var-max: brakpoint2var($size-max);

	@media (min-width: #{$var-min + 1}px) and (max-width: #{$var-max + 1}px) {
		@content;
	}
}

// Responsive sizes
@mixin sizes {

	@for $i from 1 through 20 {

		&-#{$i * 5} {
			width: $i * 5%;
		}
	}

	&-33 {
		width: 33.33%;
	}

	&-66 {
		width: 66.66%;
	}

	&-full {
		width: 100%;
	}

	&-none {
		display: none;
	}
}

// Rem size
@function calculateRem($size) {
	$bodySize: 16px;
	$remSize: calc( $size / $bodySize ); // Body size 16px
	@return #{$remSize}rem;
}

@mixin fontRemSize($size) {
	font-size: $size; //Fallback in px
	font-size: calculateRem($size);
}