//@import url('//fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
//@import url('//fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700;800&display=swap');
//@import url('//use.typekit.net/avz2fcq.css'); // Termina & Azos
@import '../../assets/fonts/eileen/stylesheet.css';
@import '../../assets/fonts/Mulish/stylesheet.css';

// Font - Families
$heading-font: 'Eileen Bold', sans-serif;
$body-font: 'Mulish Regular', sans-serif;
$body-font-extrabold:  'Mulish ExtraBold', sans-serif;

// Brand colours
$white: #FBFBFB;

$black: #161B14;
$black-shade: #4E524D;
$black-light: #7A7D79;
$black-light--70: rgba($black-light,0.7);
$black-light--20: rgba($black-light,0.2);
$black-light_solid: #7A7D79;
$black-light_solid--50: rgba($black-light_solid,0.5);
$black-light_solid--10: rgba($black-light_solid,0.1);

$primary: #F8A800;
$primary-shade: #B27900;
$primary-dark: #7D5400;
$primary-light: #FFC54D;
$primary-light--50: rgba($primary-light,0.5);
$primary-light--20: rgba($primary-light,0.2);

$secondary: #4E9D2D;
$secondary-shade: #31631C;
$secondary-light: #82D260;
$secondary-light--50: rgba($secondary-light,0.5);
$secondary-light--20: rgba($secondary-light,0.2);

$complamentary: #007DBA;
$complamentary-shade: #004566;
$complamentary-light: #0AAFFF;
$complamentary-light--50: rgba($complamentary-light,0.5);
$complamentary-light--20: rgba($complamentary-light,0.2);

$accent-error: #ED4510;
$accent-attention: #FFCE20;

$gradient: linear-gradient(120deg, rgb(6, 45, 185) 0%, rgb(5, 99, 212) 47.4%, rgb(20, 168, 232) 100%);
$bg-color: $white;

:root {
	--theme-white: #{$white};
	--theme-black: #{$black};
	--theme-black-shade: #{$black-shade};
	--theme-black-light: #{$black-light};
	--theme-black-light--70: #{$black-light--70};
	--theme-black-light--20: #{$black-light--20};
	--theme-black-light_solid: #{$black-light_solid};
	--theme-black-light_solid--50: #{$black-light_solid--50};
	--theme-primary: #{$primary};
	--theme-primary: #{$primary-shade};
	--theme-primary: #{$primary-dark};
	--theme-primary: #{$primary-light};
	--theme-primary: #{$primary-light--50};
	--theme-primary: #{$primary-light--20};
	--theme-secondary: #{$secondary};
	--theme-secondary-shade: #{$secondary-shade};
	--theme-secondary-light: #{$secondary-light};
	--theme-secondary-light--50: #{$secondary-light--50};
	--theme-secondary-light--20: #{$secondary-light--20};
	--theme-complamentary: #{$complamentary};
	--theme-complamentary-shade: #{$complamentary-shade};
	--theme-complamentary-light: #{$complamentary-light};
	--theme-complamentary-light--50: #{$complamentary-light--50};
	--theme-complamentary-light--20: #{$complamentary-light--20};
	--theme-accent-error: #{$accent-error};
	--theme-accent-attention: #{$accent-attention};
}

// Font weight
$thin: 100;
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extrabold: 800;

// Font - Sizes
$font-sizes: (
	'body': 16px,
	'large': 20px,
	'small': 14px,
	'micro': 11px,
	'btn': 16px,
	'h1': 60px,
	'h1Tab': 60px,
	'h1Mob': 35px,
	'h2': 45px,
	'h2Tab': 45px,
	'h2Mob': 30px,
	'h3': 35px,
	'h3Tab': 35px,
	'h3Mob': 25px,
	'h4': 25px,
	'h4Mob': 20px,
	'h5': 20px,
	'h6': 18px
);

$body: map-get($font-sizes, body);
$large: map-get($font-sizes, large);
$small: map-get($font-sizes, small);
$micro: map-get($font-sizes, micro);
$btn: map-get($font-sizes, btn);
$h1: map-get($font-sizes, h1);
$h1Tab: map-get($font-sizes, h1Tab);
$h1Mob: map-get($font-sizes, h1Mob);
$h2: map-get($font-sizes, h2);
$h2Tab: map-get($font-sizes, h2Tab);
$h2Mob: map-get($font-sizes, h2Mob);
$h3: map-get($font-sizes, h3);
$h3Tab: map-get($font-sizes, h3Tab);
$h3Mob: map-get($font-sizes, h3Mob);
$h4: map-get($font-sizes, h4);
$h4Mob: map-get($font-sizes, h4Mob);
$h5: map-get($font-sizes, h5);
$h6: map-get($font-sizes, h6);

$container-margin: calc( -15px - ( ( 100vw - 1400px ) / 2 ) );
$container-margin-left: calc( 15px + ( ( 100vw - 1400px ) / 2 ) );