<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->
<!-- wp:group {"tagName":"section","className":"wp-block-group hero hero-default} -->
<section class="wp-block-group hero hero-default">
	<!-- wp:group {"className":"container-boxed hero-wrap"} -->
	<div class="wp-block-group container-boxed hero-wrap">
		<!-- wp:freetimers/post-acf-field {"fieldName":"hero_section"} /--><span class="h1">All Products</span><h1 class="alignwide wp-block-post-title"><!-- wp:query-title {"type":"archive","showPrefix":false,"align":"wide"} /--></h1>
	</div>
	<!-- /wp:group -->
</section>
<!-- /wp:group -->
<!-- wp:group {"className":"breadcrumb-wrap container-boxed"} -->
	<div class="wp-block-group breadcrumb-wrap container-boxed">
		<!-- wp:shortcode -->[wpseo_breadcrumb]<!-- /wp:shortcode -->
	</div>
<!-- /wp:group -->
<div class="wp-block-dp-row-section container-boxed" style="">
	<div class="row one-column-layout">
		<!-- wp:freetimers/column {"width":"full"} -->
		<div class="wp-block-dp-column align-self-center" style="">
			<!-- wp:query {"queryId":0,"query":{"perPage":99999,"pages":0,"offset":0,"postType":"product","order":"asc","orderBy":"title","author":"","search":"","exclude":[],"sticky":"","inherit":true,"__woocommerceAttributes":[],"__woocommerceStockStatus":["instock","outofstock","onbackorder"]},"displayLayout":{"type":"flex","columns":4,"contentVisibility":{"orderBy":true}},"namespace":"woocommerce/product-query","align":"wide"} -->
			<div class="wp-block-query">
				<!-- wp:post-template {"className":"products-block-post-template","__woocommerceNamespace":"woocommerce/product-query/product-template"} -->
					<!-- wp:woocommerce/product-image {"isDescendentOfQueryLoop":true} /-->
					<!-- wp:post-title {"textAlign":"center","level":3,"fontSize":"medium","isLink":true,"__woocommerceNamespace":"woocommerce/product-query/product-title"} /-->
					<!-- wp:woocommerce/product-price {"isDescendentOfQueryLoop":true,"textAlign":"center","fontSize":"small","style":{"spacing":{"margin":{"bottom":"1rem"}}}} /-->
					<!-- wp:woocommerce/product-button {"isDescendentOfQueryLoop":true,"textAlign":"center","fontSize":"small","style":{"spacing":{"margin":{"bottom":"1rem"}}}} /-->
				<!-- /wp:post-template -->
				<!-- wp:spacer {"height":"70px"} --><div style="height:70px" aria-hidden="true" class="wp-block-spacer"></div><!-- /wp:spacer -->
				<!-- wp:query-no-results --><!-- wp:pattern {"slug":"woocommerce/no-products-found"} /--><!-- /wp:query-no-results -->
				<!-- wp:shortcode -->[load_more_shop]<!-- /wp:shortcode -->	
				<!-- wp:woocommerce/store-notices /-->
				<!-- wp:woocommerce/catalog-sorting /-->
				<!-- wp:woocommerce/product-results-count /-->
				<!-- wp:query-pagination {"layout":{"type":"flex","justifyContent":"center"}} --><!-- wp:query-pagination-previous /--><!-- wp:query-pagination-numbers /--><!-- wp:query-pagination-next /--><!-- /wp:query-pagination -->
			</div>
			<!-- /wp:query -->
		</div>
		<!-- /wp:freetimers/column -->
	</div>
</div>
<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer","layout":{"inherit":false}} /-->