<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->
<!-- wp:group {"tagName":"section","className":"wp-block-group hero hero-archive} -->
<section class="wp-block-group hero hero-archive">
	<!-- wp:group {"className":"container-boxed hero-wrap"} -->
	<div class="wp-block-group container-boxed hero-wrap">
		<!-- wp:group {"className":"breadcrumb-wrap container-boxed","layout":{"type":"constrained"}} --><div class="wp-block-group breadcrumb-wrap container-boxed" style="margin-top:-174px;"><!-- wp:shortcode -->[wpseo_breadcrumb]<!-- /wp:shortcode --></div><!-- /wp:group -->
		<!-- wp:tfa/post-acf-field {"fieldName":"hero_section"} /--><sup style="background:#fe5102;position:absolute;top:50%;margin-top:-80px;padding:10px;color:white;display:none">TAG</sup><!-- wp:query-title {"type":"archive","showPrefix":false,"align":"wide"} /-->
	</div>
	<!-- /wp:group -->
</section>
<!-- /wp:group -->
<div class="wp-block-tfa-row-section container-boxed" style="">
	<div class="row one-column-layout">
		<!-- wp:tfa/column {"width":"full"} -->
		<div class="wp-block-tfa-column align-self-center" style="">
			<!-- wp:pattern {"slug":"woo-query","className":"woo-query"} /-->
		</div>
	<!-- /wp:tfa/column -->
	</div>
</div>
<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer","layout":{"inherit":false}} /-->